<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Up in the Air</title>
  <link rel="icon" type="image/png" href="/favicon.png" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/lib/materialize.clockpicker.css" type="text/css" rel="stylesheet" />
  <link href="static/css/common.css" type="text/css" rel="stylesheet" />
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="row content">
    <div class="col s12 m4 l3">
      <div class="collection">
        <a href="profile.html" class="collection-item">Profile</a>
        <a href="add_flight.html" class="collection-item active">Add Flights</a>
        <a href="my_flights.html" class="collection-item">My Flights</a>
      </div>
    </div>

    <div class="col s12 m8 l9">
      <div class="right-pane">
        <div class="row">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#tab-progress-1">BASIC INFO</a></li>
            <li class="tab col s3"><a href="#tab-progress-2">FLIGHT INFO</a></li>
            <li class="tab col s3"><a href="#tab-progress-3">TICKET INFO</a></li>
            <li class="tab col s3"><a href="#tab-progress-4">RATE & REVIEW</a></li>
          </ul>
        </div>
        <div class="row">
          <div id="tab-progress-1" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">today</i>
                <input id="flight_date" type="date" class="datepicker" v-model="date">
                <label for="flight_date">Departure Date</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">flight</i>
                <input id="flight_number" type="text" v-model="flightNumber" @blur="onFlightNumberBlur">
                <label for="flight_number">Flight Number</label>
              </div>
            </div>
            <div class="row">
              <a class="right waves-effect waves-light btn" @click="onJumpTabClick(2)">continue</a>
            </div>
          </div>

          <div id="tab-progress-2" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">flight_takeoff</i>
                <input id="dep_airport" type="text" v-model="depAirport.name">
                <label for="dep_airport">Departure Airport</label>
              </div>
              <div class="input-field col s3">
                <div v-if="depAirport.iata" class="chip">
                  {{depAirport.iata}}
                </div>
                <div v-if="depAirport.city" class="chip">
                  {{depAirport.city}}
                </div>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">av_timer</i>
                <input id="dep_time" class="timepicker" type="time" v-model="depTime">
                <label for="dep_time">Departure Time</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">flight_land</i>
                <input id="arr_airport" type="text" v-model="arrAirport.name">
                <label for="arr_airport">Arrival Airport</label>
              </div>
              <div class="input-field col s3">
                <div v-if="arrAirport.iata" class="chip">
                  {{arrAirport.iata}}
                </div>
                <div v-if="arrAirport.city" class="chip">
                  {{arrAirport.city}}
                </div>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">av_timer</i>
                <input id="arr_time" class="timepicker" type="time" v-model="arrTime">
                <label for="arr_time">Arrival Time</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">flight</i>
                <input id="airline" type="text" v-model="airline.name">
                <label for="airline">Airline</label>
              </div>
              <div class="input-field col s3">
                <div v-if="airline.iata" class="chip">
                  {{airline.iata}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">flight</i>
                <input id="aircraft" type="text" v-model="aircraft.name">
                <label for="aircraft">Aircraft</label>
              </div>
              <div class="input-field col s3">
                <div v-if="aircraft.iata" class="chip">
                  {{aircraft.iata}}
                </div>
              </div>
            </div>
            <div class="row">
              <a class="left waves-effect waves-light btn" @click="onJumpTabClick(1)">back</a>
              <a class="right waves-effect waves-light btn" @click="onJumpTabClick(3)">continue</a>
            </div>
          </div>

          <div id="tab-progress-3" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <label>Flight Class</label>
                <ul>
                  <li>
                    <input class="with-gap" value="0" type="radio" id="class-economy"  v-model="class" />
                    <label for="class-economy">Economy</label>
                  </li>
                  <li>
                    <input class="with-gap" value="1" type="radio" id="class-economy-plus" v-model="class" />
                    <label for="class-economy-plus">Economy+</label>
                  </li>
                  <li>
                    <input class="with-gap" value="2" type="radio" id="class-business" v-model="class" />
                    <label for="class-business">Business</label>
                  </li>
                  <li>
                    <input class="with-gap" value="3" type="radio" id="class-first" v-model="class" />
                    <label for="class-first">First</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label>Flight Purpose</label>
                <ul>
                  <li>
                    <input class="with-gap" value="0" type="radio" id="purpose-leisure" v-model="purpose" />
                    <label for="purpose-leisure">Leisure</label>
                  </li>
                  <li>
                    <input class="with-gap" value="1" type="radio" id="purpose-business" v-model="purpose" />
                    <label for="purpose-business">Business</label>
                  </li>
                  <li>
                    <input class="with-gap" value="2" type="radio" id="purpose-crew" v-model="purpose" />
                    <label for="purpose-crew">Crew</label>
                  </li>
                  <li>
                    <input class="with-gap" value="3" type="radio" id="purpose-other" v-model="purpose" />
                    <label for="purpose-other">Other</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label>Flight Seat</label>
                <ul>
                  <li>
                    <input class="with-gap" value="0" type="radio" id="seat-window" v-model="seat" />
                    <label for="seat-window">Window</label>
                  </li>
                  <li>
                    <input class="with-gap" value="1" type="radio" id="seat-middle" v-model="seat" />
                    <label for="seat-middle">Middle</label>
                  </li>
                  <li>
                    <input class="with-gap" value="2" type="radio" id="seat-aisle" v-model="seat" />
                    <label for="seat-aisle">Aisle</label>
                  </li>
                </ul>
              </div>
              <div class="input-field col s6">
                <input id="seat-num" type="text" v-model="seatNum">
                <label for="seat-num">Seat Number</label>
              </div>
            </div>
            <div class="row">
              <a class="left waves-effect waves-light btn" @click="onJumpTabClick(2)">back</a>
              <a class="right waves-effect waves-light btn" @click="onJumpTabClick(4)">continue</a>
            </div>
          </div>

          <div id="tab-progress-4" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">comment</i>
                <textarea id="comment" class="materialize-textarea" data-length="300" v-model="comment"></textarea>
                <label for="comment">Your Comments</label>
              </div>
            </div>
            <div class="row">
              <a class="left waves-effect waves-light btn" @click="onJumpTabClick(3)">back</a>
              <a class="right waves-effect waves-light btn" @click="onAddFlightSubmitClick">Submit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/lib/materialize.clockpicker.js"></script>
  <script src="static/js/add_flight.jq.js"></script>
  <script src="static/js/add_flight.js"></script>

</body>
</html>
