<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat - Up in the Air</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/lib/jquery.mCustomScrollbar.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/lib/jquery.emoji.css" type="text/css" rel="stylesheet" />
  <link href="static/css/common.css" type="text/css" rel="stylesheet" />
  <link href="static/css/chat.css" type="text/css" rel="stylesheet" />
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/profile.html">{{user.firstName}}</a></li>
          <li class="active"><a href="/chat.html">Chat</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/profile.html">{{user.firstName}}</a></li>
          <li><a href="/chat.html">Chat</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="row content">
    <div class="col s12 m3 contact-pane">
      <ul class="collection">
        <li v-for="contact in contactList"
          class="collection-item"
          :class="{'active': receiver.id === contact.id}"
          @click="onSelectReceiver(contact)">
          <div class="abbrv-avatar">{{contact.first_name[0]+contact.last_name[0]}}</div>
          <span class="contact-name">{{contact.first_name}}&nbsp;{{contact.last_name}}</span>
        </li>
      </ul>
    </div>

    <div class="col s12 m9">
        <div class="row message-list-pane">
          <ul>
            <li v-for="messageObj in messageObjList">
              <div v-if="messageObj.send" class="right">
                <div class="abbrv-avatar teal right">
                  {{user.firstName[0]+user.lastName[0]}}
                </div>
                <div class="message-content border-teal">
                  {{messageObj.content}}
                </div>
              </div>
              <div v-else class="left">
                <div class="abbrv-avatar left">
                  {{receiver.firstName[0]+receiver.lastName[0]}}
                </div>
                <div class="message-content">
                  {{messageObj.content}}
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="divider"></div>

        <div class="row message-sender-pane">
          <div class="col s12">
            <textarea id="input-area" v-model="message"></textarea>
          </div>
          <div class="col s12">
            <div class="right">
              <button class="btn waves-effect waves-light" type="submit" @click="onSendClick">Send</button>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div id="log"></div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container center-align">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/jquery.mousewheel.min.js"></script>
  <script src="static/js/lib/jquery.mCustomScrollbar.min.js"></script>
  <script src="static/js/lib/jquery.emoji.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/chat.jq.js"></script>
  <script src="static/js/chat.js"></script>
</body>
</html>
