<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Explore - Up in the Air</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/common.css" type="text/css" rel="stylesheet" />
  <!-- <link href="static/css/explore.css" type="text/css" rel="stylesheet" /> -->
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="/chat.html">Chat</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="/chat.html">Chat</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="row content">
    <div class="col s12 m2">
      <div class="collection">
        <a href="profile.html" class="collection-item">Profile</a>
        <a href="add_flight.html" class="collection-item">Add Flights</a>
        <a href="my_flights.html" class="collection-item">My Flights</a>
        <a href="explore.html" class="collection-item active">Explore</a>
      </div>
    </div>

    <div class="col s12 m10">
      <div class="right-pane">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a class="active" href="#tab-flight">Flight</a></li>
              <li class="tab col s3"><a class="active" href="#tab-route">ROUTES</a></li>
              <li class="tab col s3"><a href="#tab-airline">AIRLINES</a></li>
              <li class="tab col s3"><a href="#tab-airport">AIRPORTS</a></li>
            </ul>
          </div>
          <div id="tab-flight" class="col s12">
            <div class="row">
              <div class="input-field col offset-s2 s6">
                <i class="material-icons prefix">flight</i>
                <input id="flight" type="text" class="flight-autocomplete" v-model="flightNumber">
                <label for="flight">Flight Number</label>
              </div>
              <div class="input-field col s2">
                <a class="waves-effect waves-light btn" @click="onFlightSearch">Search</a>
              </div>
            </div>
            <div v-if="flightComments.length > 0" class="row description-row">
              <div class="info-block">
                Flight:&nbsp;
                <span class="flight-number">{{flightNumber.toUpperCase()}}</span>
              </div>
              <div class="rate-block">
                <span class="rate">{{averageFlightRate}}</span>
              </div>
            </div>
            <div v-if="flightComments.length > 0" class="row">
              <ul class="collection">
                <li v-for="comment in flightComments" class="collection-item">
                  <div class="abbrv-avatar">{{(comment.first_name[0]+comment.last_name[0]).toUpperCase()}}</div>
                  <div class="contact-name">{{comment.first_name}}&nbsp;{{comment.last_name}}</div>
                  <div class="title">{{comment.rate}}</div>
                  <div class="comment-content">
                    {{comment.content}}
                  </div>
                  <span>{{comment.create_time}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div id="tab-route" class="col s12">
            <div class="row">
              <div class="input-field col s5">
                <i class="material-icons prefix">flight_takeoff</i>
                <input id="dep_airport" type="text" class="dep-airport-autocomplete" v-model="depAirport.name">
                <label for="dep_airport">Departure Airport</label>
              </div>
              <div class="input-field col s5">
                <i class="material-icons prefix">flight_land</i>
                <input id="arr_airport" type="text" class="arr-airport-autocomplete" v-model="arrAirport.name">
                <label for="arr_airport">Arrival Airport</label>
              </div>
              <div class="input-field col s2">
                <a class="waves-effect waves-light btn" @click="onFlightRouteSearch">Search</a>
              </div>
            </div>
            <div v-if="flightRouteComments.length > 0" class="row description-row">
              <div class="info-block">
                <span class="iata">{{depAirport.iata}}</span>
                <span class="places">{{depAirport.city}}</span>
                <i class="material-icons prefix">arrow_forward</i>
                <span class="iata">{{arrAirport.iata}}</span>
                <span class="places">{{arrAirport.city}}</span>
              </div>
              <div class="rate-block">
                <span class="rate">{{averageFlightRouteRate}}</span>
              </div>
            </div>
            <div v-if="flightRouteComments.length > 0" class="row">
              <ul class="collection">
                <li v-for="comment in flightRouteComments" class="collection-item">
                  <div class="abbrv-avatar">{{(comment.first_name[0]+comment.last_name[0]).toUpperCase()}}</div>
                  <div class="contact-name">{{comment.first_name}}&nbsp;{{comment.last_name}}</div>
                  <div class="title">{{comment.rate}}</div>
                  <div class="comment-content">
                    {{comment.content}}
                  </div>
                  <span>{{comment.create_time}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div id="tab-airline" class="col s12">
            <div class="row">
              <div class="input-field col offset-s2 s6">
                <i class="material-icons prefix">flight</i>
                <input id="airline" type="text" class="airline-autocomplete" v-model="airline.name">
                <label for="airline">Airline</label>
              </div>
              <div class="input-field col s2">
                <a class="waves-effect waves-light btn" @click="onAirlineSearch">Search</a>
              </div>
            </div>
            <div v-if="airlineComments.length > 0" class="row description-row">
              <div class="info-block">
                Airline:&nbsp;
                <span class="flight-number">{{airline.name}}</span>
              </div>
              <div class="rate-block">
                <span class="rate">{{averageAirlineRate}}</span>
              </div>
            </div>
            <div v-if="airlineComments.length > 0" class="row">
              <ul class="collection">
                <li v-for="comment in airlineComments" class="collection-item">
                  <div class="abbrv-avatar">{{(comment.first_name[0]+comment.last_name[0]).toUpperCase()}}</div>
                  <div class="contact-name">{{comment.first_name}}&nbsp;{{comment.last_name}}</div>
                  <div class="title">{{comment.rate}}</div>
                  <div class="comment-content">
                    {{comment.content}}
                  </div>
                  <span>{{comment.create_time}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div id="tab-airport" class="col s12">
            <div class="row">
              <div class="input-field col offset-s2 s6">
                <i class="material-icons prefix">flight</i>
                <input id="airport" type="text" class="airport-autocomplete" v-model="airport.name">
                <label for="airport">Airport</label>
              </div>
              <div class="input-field col s2">
                <a class="waves-effect waves-light btn" @click="onAirportSearch">Search</a>
              </div>
            </div>
            <div v-if="airportComments.length > 0" class="row description-row">
              <div class="info-block">
                Airport:&nbsp;
                <span class="flight-number">{{airport.name}}</span>
                <span class="iata">{{airport.iata}}</span>
              </div>
              <div class="rate-block">
                <span class="rate">{{averageAirportRate}}</span>
              </div>
            </div>
            <div v-if="airportComments.length > 0" class="row">
              <ul class="collection">
                <li v-for="comment in airportComments" class="collection-item">
                  <div class="abbrv-avatar">{{(comment.first_name[0]+comment.last_name[0]).toUpperCase()}}</div>
                  <div class="contact-name">{{comment.first_name}}&nbsp;{{comment.last_name}}</div>
                  <div class="title">{{comment.rate}}</div>
                  <div class="comment-content">
                    {{comment.content}}
                  </div>
                  <span>{{comment.create_time}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container center-align">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/lib/echarts.common.min.js"></script>
  <script src="static/js/explore.jq.js"></script>
  <script src="static/js/explore.js"></script>
</body>
</html>
