<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Up in the Air</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/home.css" type="text/css" rel="stylesheet" />
  <link href="static/css/common.css" type="text/css" rel="stylesheet" />
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li v-if="user.email"><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li v-if="user.email"><a href="/profile.html">Profile</a></li>
          <li v-if="user.email"><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
          <li v-if="!user.email"><a href="#modal-signup">Sign Up</a></li>
          <li v-if="!user.email"><a href="#modal-login">Log In</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li v-if="user.email"><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li v-if="user.email"><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
          <li v-if="!user.email"><a href="#modal-signup">Sign Up</a></li>
          <li v-if="!user.email"><a href="#modal-login">Log In</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div id="index-banner" class="parallax-container first-page-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center lime-text text-accent-1">Flights and More!</h1>
        <div class="row center">
          <h5 class="header col s12 light">A flight recorder and analyzer. Build up your network in the air.</h5>
        </div>
        <div class="row center">
          <a href="#modal-signup" id="sign-up-button" class="waves-effect waves-light btn-large">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/background.jpg" alt="background"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">list</i></h2>
            <h5 class="center">RECORDS</h5>

            <p class="light center">Record and fun! Get fulfilled when looking back on how much time and distance you spent in the air. Isn't it awesome to have flied around the earth for circles!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">insert_chart</i></h2>
            <h5 class="center">VISUALIZATION</h5>

            <p class="light center">Visualize your data with pie, bar and line charts. Make the most out of your understanding of your life in the sky. See what you may not imagined in reality.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">message</i></h2>
            <h5 class="center">INSTANT MESSAGE</h5>

            <p class="light center">Have you ever wanted to get connected when you saw comments from whom already taken the flight? Instant Messaging(IM) we provided is exactly what you expected!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Visualize your connections all around the world</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background_map.png" alt="background map" id="background-map"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">We are undergraduates and graduate students from ECE and CS @ UIUC. This is a course project for CS411 Database Systems at Spring 2017. Project home page can be found <a href="https://wiki.illinois.edu/wiki/display/cs411sp17/Pikachu" target="_blank">here</a>, which includes the design and implementation of the website, especially for the data storage and retrival part.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">IN THE AIR, WE BELIEVE</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background3.jpg" alt="background-photo"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Us</h5>
          <p class="grey-text text-lighten-4">You can directly send us an email if you have any questions or recommendations about the website/project. Contributions are welcome! Follow us on <a class="black-text" href="https://github.com/Up-In-The-Air/upintheair" target="_blank"><i class="fa fa-github" aria-hidden="true">&nbsp;GitHub</i></a>.</p>
        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="mailto:zhuol2@illinois.edu">zhuol2@illinois.edu</a></li>
            <li><a class="white-text" href="mailto:hwang158@illinois.edu">hwang158@illinois.edu</a></li>
            <li><a class="white-text" href="mailto:tchi3@illinois.edu">tchi3@illinois.edu</a></li>
            <li><a class="white-text" href="mailto:wwang128@illinois.edu">wwang128@illinois.edu</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <div id="modal-signup" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="first_name" type="text" :class="{invalid: !isFirstNameValid}" v-model="firstName" required>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col m6 s12">
              <input id="last_name" type="text" :class="{invalid: !isLastNameValid}" v-model="lastName" required>
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" :class="{invalid: !isEmailValid}" v-model="email" required>
              <label for="email" data-error="Please enter valid email address.">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" :class="{invalid: !isPasswordValid}" v-model="password" required>
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <input id="confirm_password" type="password" :class="{invalid: !isConfirmPasswordValid}" v-model="confirmedPassword" required>
              <label for="confirm_password" data-error="Passwords do not match.">Confirm Password</label>
            </div>
          </div>
          <div>
            <div class="red-text center-align">{{signupError}}</div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <span class="switch-modal">
        <span>Already have an account?</span>
        <a href="javascript:void(0)" @click="onSwitchLogIn">Log In</a>
      </span>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" @click="onCancelModal('#modal-signup')">Cancel</a>
      <button class="modal-action waves-effect waves-green btn-flat" @click="onSubmitSignup">Submit</button>
    </div>
  </div>

  <div id="modal-login" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" v-model="loginEmail">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" v-model="loginPassword">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <input type="checkbox" id="test5" v-model="autoLogin"/>
              <label for="test5">Remember Me</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <span class="switch-modal">
        <span>Do not have an account?</span>
        <a href="javascript:void(0)" @click="onSwitchSignUp">Sign Up</a>
      </span>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" @click="onCancelModal('#modal-login')">Cancel</a>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" @click="onSubmitLogin">Submit</a>
    </div>
  </div>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/home.jq.js"></script>
  <script src="static/js/home.js"></script>
  <script src="https://use.fontawesome.com/90d34c32bb.js"></script>
</body>
</html>
