<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Up in the Air</title>
  <link rel="icon" type="image/png" href="/favicon.png" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/home.css" type="text/css" rel="stylesheet" />
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li v-if="user.email"><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li v-if="user.email"><a href="/profile.html">Profile</a></li>
          <li v-if="user.email"><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
          <li v-if="!user.email"><a href="#modal-signup">Sign Up</a></li>
          <li v-if="!user.email"><a href="#modal-login">Log In</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li v-if="user.email"><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li v-if="user.email"><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
          <li v-if="!user.email"><a href="#modal-signup">Sign Up</a></li>
          <li v-if="!user.email"><a href="#modal-login">Log In</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-accent-3">Flights and More!</h1>
        <div class="row center">
          <h5 class="header col s12 light">A flight recorder and analyzer. Build up your network in the air.</h5>
        </div>
        <div class="row center">
          <a href="#modal-signup" id="sign-up-button" class="waves-effect waves-light btn-large">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="static/images/background.jpg" alt="background"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">list</i></h2>
            <h5 class="center">Collecion</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">insert_chart</i></h2>
            <h5 class="center">Analysis</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">share</i></h2>
            <h5 class="center">Social Networks</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background_map.png" alt="background map" id="background-map"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background3.jpg" alt="background-photo"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact Us</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac.</p>
        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <div id="modal-signup" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col m6 s12">
              <input id="first_name" type="text" :class="{invalid: !isFirstNameValid}" v-model="firstName" required>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col m6 s12">
              <input id="last_name" type="text" :class="{invalid: !isLastNameValid}" v-model="lastName" required>
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" :class="{invalid: !isEmailValid}" v-model="email" required>
              <label for="email" data-error="Please enter valid email address.">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" :class="{invalid: !isPasswordValid}" v-model="password" required>
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" :class="{invalid: !isConfirmPasswordValid}" v-model="confirmedPassword" required>
              <label for="password" data-error="Passwords do not match.">Confirm Password</label>
            </div>
          </div>
          <div>
            <div class="red-text center-align">{{signupError}}</div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <span class="switch-modal">
        <span>Already have an account?</span>
        <a href="javascript:void(0)" @click="onSwitchLogIn">Log In</a>
      </span>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" @click="onCancelModal('#modal-signup')">Cancel</a>
      <button class="modal-action waves-effect waves-green btn-flat" @click="onSubmitSignup">Submit</button>
    </div>
  </div>

  <div id="modal-login" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" v-model="loginEmail">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" v-model="loginPassword">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <input type="checkbox" id="test5" v-model="autoLogin"/>
              <label for="test5">Remember Me</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <span class="switch-modal">
        <span>Do not have an account?</span>
        <a href="javascript:void(0)" @click="onSwitchSignUp">Sign Up</a>
      </span>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" @click="onCancelModal('#modal-login')">Cancel</a>
      <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" @click="onSubmitLogin">Submit</a>
    </div>
  </div>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/init.js"></script>
  <script src="static/js/home.js"></script>
</body>
</html>
