<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Flights - Up in the Air</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/lib/materialize.clockpicker.css" type="text/css" rel="stylesheet" />
  <link href="static/css/common.css" type="text/css" rel="stylesheet" />
  <link href="static/css/my_filght.css" type="text/css" rel="stylesheet" />
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="/chat.html">Chat</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="/chat.html">Chat</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="row content">
    <div class="col s12 m2">
      <div class="collection">
        <a href="profile.html" class="collection-item">Profile</a>
        <a href="add_flight.html" class="collection-item">Add Flights</a>
        <a href="my_flights.html" class="collection-item active">My Flights</a>
      </div>
    </div>

    <div class="col s12 m10">
      <div class="right-pane">
        <table class="highlight">
          <thead>
            <tr>
                <th class="date-cell">Date</th>
                <th>Flight#</th>
                <th class="airport-cell">From</th>
                <th class="airport-cell">To</th>
                <th class="time-cell">Dep.</th>
                <th class="time-cell">Arr.</th>
                <th>Airline</th>
                <th>Aircraft</th>
                <th>Class</th>
                <th>Purpose</th>
                <th>Seat</th>
                <th class="operation-cell">Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(index, flight) in flightList">
              <td>
                <span v-show="!isRecordEditting(index)">{{flight.date}}</span>
                <span v-show="isRecordEditting(index)"><input type="date" class="datepicker" v-model="updateDate"></span>
              </td>
              <td>
                <span>{{flight.flight_number}}</span>
              </td>
              <td>
                <span class="tooltipped" data-position="top" data-delay="50" :data-tooltip="flight.dep_airport_name">{{flight.dep_airport_iata}}</span>
              </td>
              <td>
                <span class="tooltipped" data-position="top" data-delay="50" :data-tooltip="flight.arr_airport_name">{{flight.arr_airport_iata}}</span>
              </td>
              <td>
                <span v-show="!isRecordEditting(index)">{{flight.dep_time}}</span>
                <span v-show="isRecordEditting(index)"><input type="time" class="timepicker" v-model="updateDepTime"></span>
              </td>
              <td>
                <span v-show="!isRecordEditting(index)">{{flight.arr_time}}</span>
                <span v-show="isRecordEditting(index)"><input type="time" class="timepicker" v-model="updateArrTime"></span>
              </td>
              <td>
                <span v-if="flight.airline_name" class="tooltipped" data-position="top" data-delay="50" :data-tooltip="flight.airline_name">{{flight.airline_iata}}</span>
              </td>
              <td>
                <span v-if="flight.aircraft_name" class="tooltipped" data-position="top" data-delay="50" :data-tooltip="flight.aircraft_name">{{flight.aircraft_iata}}</span>
              </td>
              <td>
                <span v-show="!isRecordEditting(index)">{{classMap[flight.class]}}</span>
                <span v-show="isRecordEditting(index)">
                  <select v-model="updateClass" class="browser-default">
                    <option value="0">Economy</option>
                    <option value="1">Economy+</option>
                    <option value="2">Business</option>
                    <option value="3">First</option>
                  </select>
                </span>
              </td>
              <td>
                <span v-show="!isRecordEditting(index)">{{purposeMap[flight.purpose]}}</span>
                <span v-show="isRecordEditting(index)">
                  <select v-model="updatePurpose" class="browser-default">
                    <option value="0">Leisure</option>
                    <option value="1">Business</option>
                    <option value="2">Crew</option>
                    <option value="3">Other</option>
                  </select>
                </span>
              </td>
              <td>
                <span>{{flight.seat_num}}</span>
                <span v-if="flight.seat">({{seatMap[flight.seat]}})</span>
              </td>
              <td>
                <span v-show="!isRecordEditting(index)" @click="onFlightRecordEditClick(index, flight.id)" class="btn-floating teal"><i class="material-icons">mode_edit</i></span>
                <span v-show="!isRecordEditting(index)" @click="onFlightRecordDeleteClick(flight.id)" class="btn-floating grey"><i class="material-icons">delete_forever</i></span>
                <span v-show="isRecordEditting(index)" @click="onFlightRecordUpdateConfirm" class="btn-floating teal"><i class="material-icons">done</i></span>
                <span v-show="isRecordEditting(index)" @click="onFlightRecordUpdateCancel" class="btn-floating grey"><i class="material-icons">undo</i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container center-align">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/lib/materialize.clockpicker.js"></script>
  <script src="static/js/my_flights.js"></script>
  <script src="static/js/my_flights.jq.js"></script>
</body>
</html>
