<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Flights - Up in the Air</title>
  <link rel="icon" type="image/png" href="favicon.png" sizes="48x48">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/lib/materialize.min.css" type="text/css" rel="stylesheet" />
  <link href="static/css/common.css" type="text/css" rel="stylesheet" />
  <link href="static/css/my_filght.css" type="text/css" rel="stylesheet" />
</head>
<body id="app">
  <div class="navbar-fixed">
    <nav class="grey lighten-5" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo"><img src="static/images/logo_color.png" /></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="javascript:void(0)">{{user.firstName}}</a></li>
          <li><a href="javascript:void(0)" @click="onLogoutClick">Log out</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="row content">
    <div class="col s12 m4 l3">
      <div class="collection">
        <a href="profile.html" class="collection-item">Profile</a>
        <a href="add_flight.html" class="collection-item">Add Flights</a>
        <a href="my_flights.html" class="collection-item active">My Flights</a>
      </div>
    </div>

    <div class="col s12 m8 l9">
      <div class="right-pane">
        <table class="highlight">
          <thead>
            <tr>
                <th>Date</th>
                <th>Fight#</th>
                <th>From</th>
                <th>To</th>
                <th>Dep.</th>
                <th>Arr.</th>
                <th>Airline</th>
                <th>Aircraft</th>
                <th>Seat</th>
                <th>Comment</th>
                <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(index, flight) in flightList">
              <td>
                <span v-show="!isRecordEditting(index)">{{flight.date}}</span>
                <span v-show="isRecordEditting(index)"><input type="date" class="datepicker" v-model="updateDate"></span>
              </td>
              <td>
                <span v-show="!isRecordEditting(index)">{{flight.flight_num}}</span>
                <span v-show="isRecordEditting(index)"><input type="text" v-model="updateFlightNum"></span>
              </td>
              <td>{{flight.from}}</td>
              <td>{{flight.to}}</td>
              <td>{{flight.dep_time}}</td>
              <td>{{flight.arr_time}}</td>
              <td>{{flight.airline}}</td>
              <td>{{flight.aircraft}}</td>
              <td>
                <span v-show="!isRecordEditting(index)">{{flight.seat}}</span>
                <span v-show="isRecordEditting(index)">
                  <select>
                    <option value="0">Window</option>
                    <option value="1">Middle</option>
                    <option value="2">Aisle</option>
                  </select>
                </span>
              </td>
              <td>{{flight.comment}}</td>
              <td>
                <span v-show="!isRecordEditting(index)" @click="onFlightRecordEditClick(index, flight.id)"><i class="material-icons">mode_edit</i></span>
                <span v-show="!isRecordEditting(index)" @click="onFlightRecordDeleteClick(flight.id)"><i class="material-icons">delete</i></span>
                <span v-show="isRecordEditting(index)" @click="onFlightRecordUpdateConfirm"><i class="material-icons">done</i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      © 2017 Up in the Air
      </div>
    </div>
  </footer>

  <script src="static/js/lib/vue.min.js"></script>
  <script src="static/js/lib/jquery.min.js"></script>
  <script src="static/js/lib/materialize.min.js"></script>
  <script src="static/js/my_flights.js"></script>
  <script src="static/js/my_flights.jq.js"></script>
</body>
</html>
