ul.tabs {
  border-bottom: 1px solid #e0e0e0;
}
.row.progress-btn {
  margin: 0;
}
.input-field {
  height: 50px;
}
.input-field.textarea-input {
  height: auto;
}
.input-field ul.autocomplete-content {
  position: relative;
}
.input-field.radio-field label {
  top: 0;
}
.input-field.radio-field ul.radio-content {
  margin: 30px 0;
}
.input-field.radio-field ul.radio-content li {
  display: inline-block;
  padding: 0 15px;
  width: 120px;
}
.input-field.radio-field ul.radio-content li:first-child {
  padding-left: 0;
}
.input-field.radio-field ul.radio-content li:last-child {
  padding-right: 0;
}
#route-map { height: 400px; }
.route-map {
  float: right;
  width: 150px;
  padding: 10px;
  position: relative;
  background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#f3f3f3), to(#fff), color-stop(.1,#f3f3f3));
  border-top: 1px solid white;
  border-right: 1px solid #ccc;
  -webkit-border-bottom-right-radius: 60px 60px;
  -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}
.route-map:before {
  content:'';
  width: 25px;
  height: 20px;
  background: white;
  position: absolute;
  bottom:0; right:0;
  background: -webkit-gradient(linear, 0% 20%, 50% 40%, from(#fff), to( #eee), color-stop(.1,#fff));
  -webkit-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-20deg)
                      skew(-40deg,-3deg)
                      translate(-13px,-13px);
                      transform: rotate(-20deg)
                      skew(-40deg,-3deg)
                      translate(-13px,-13px);
}
.route-map:after {
  content: '';
  z-index: -1;
  width: 100px;
  height: 100px;
  position:absolute;
  bottom:0;
  right:0;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(0deg) translate(-45px,-20px) skew(20deg);
}
.route-map .ribbon {
  position: absolute;
  top: -15px;
  left: 30%;
  width: 70px;
  height: 30px;
  background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
