ul.tabs {
  border-bottom: 1px solid #e0e0e0;
}
.row.progress-btn {
  margin: 0;
}
.input-field {
  height: 50px;
}
.input-field.textarea-input {
  height: auto;
}
.input-field ul.autocomplete-content {
  position: relative;
}
.input-field.radio-field label {
  top: 0;
}
.input-field.radio-field ul.radio-content {
  margin: 30px 0;
}
.input-field.radio-field ul.radio-content li {
  display: inline-block;
  padding: 0 15px;
  width: 120px;
}
.input-field.radio-field ul.radio-content li:first-child {
  padding-left: 0;
}
.input-field.radio-field ul.radio-content li:last-child {
  padding-right: 0;
}
.distance-row {
  padding: 15px 0;
  font-size: 24px;
}
.distance-row .distance-value {
  font-size: 14px;
  border-bottom: 1px solid;
}
#route-map { height: 400px; }
.route-map {
  position: relative;
  margin-top: 20px;
}
#route-map {
  border: 5px solid #f6b2b5;
}
.ribbon {
  position: absolute;
  width: 150px;
  left: 50%;
  height: 40px;
  top: -20px;
  margin-left: -75px;
  background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.collapsible-body {
  overflow: hidden;
  clear: both;
  padding: 15px;
}
.rating-input {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
.rating-input .rating {
  margin-left: 40px;
}
