/*table {
  table-layout: fixed;
}*/
table input {
  margin: 0 !important;
}
table .date-cell,
table .operation-cell {
  width: 100px;
  min-width: 100px;
}
table .airport-cell,
table .time-cell {
  width: 50px;
  min-width: 50px;
}
